<style>
      .map {
        height: 40%;
        width: 40%;
      }
</style>

<div class='pure-g'>

<div class='pure-u-1-3'></div>
    <div class='pure-u-1-3'>
        <h3>Repository contributors</h3>
        <%# render :partial => 'repo_contributors_navbar' %>

        <% @repository_informations.each do |contributor| %>

            <div class='contributor-info'>
                <%= image_tag(contributor['avatar_url'], :alt => 'contributor avatar', :size => '62x62' ) %>
                <h3><%= contributor['login'] %></h3>
                <h5><%= show_my_location(contributor['location'])%></h4>
                <div id="map<%= contributor['login'] %>" class='map'></div>
                <script>
                      var map;
                      function initMap() {
                        map = new google.maps.Map(document.getElementById("map<%= contributor['login'] %>"), {
                          center: {lat: -34.397, lng: 150.644},
                          zoom: 8
                        });
                      }
                </script>
            </div>

            <br/>
        <% end %>
    </div>
<div class='pure-u-1-3'></div>

</div>

