<h1>Show repository informations</h1>
<%= render :partial => 'repo_contributors_navbar' %>

<%= @repository_informations.each do |contributor| %>

    <h3><%= contributor['login'] %></h3>
    <%= image_tag(contributor['avatar_url']) %>
    <h4><%= show_my_location(contributor['location'])%></h4>

    <br/>
<% end %>
