<div class='pure-g'>

<!--
 BAD code to similart to php way of doing the things
TODO: Correct and move javascript in assets/js
-->

<div class='pure-u-1-3'></div>
    <div class='pure-u-1-3'>
        <h3>Repository contributors</h3>

        <% @repository_informations.each do |contributor| %>

            <div class='contributor-info'>
                <%= image_tag(contributor['avatar_url'], :alt => 'contributor avatar', :size => '62x62' ) %>
                <%= content_tag(:h3, contributor['login']) %>
                <%= show_my_location(contributor['location']) %>
            </div>

            <link rel='import' href='<%= path_to_asset("proto-element.html") %>'>

            <% if contributor['location'] %>
            <proto-element></proto-element>
            <iframe
                  width="600"
                  height="450"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDH--khi08Piwv9osZvhOG15j1NqSzMHmU
                  &q=<%= contributor['location'] %>" allowfullscreen>
             </iframe>
             <% end %>

            <br/>
        <% end %>

    </div>
<div class='pure-u-1-3'></div>

</div>

